div {
  color: blue;
  font-size: 2rem;
  height: 100%;
  width: 70%;
  background-color: blue;
  margin: 20px 0px 30px;
  /* margin-top: 20px;
    margin-bottom:10px;
    margin-left: 30px;
    margin-right: 40px; 
    
    */

  /* this is a commit for active  */
}
